.products {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product{
    display: flex;
    flex-direction: column;
    width: 18rem;
    max-width: 225px;
    padding: 1rem;
    text-align: left;
    background-color: rgb(247, 238, 221);
}
.product > img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
}

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.product-price{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}
.product-price::before{
    vertical-align: text-top;
    font-size: 1rem;
    content: "$";
}
.product-add-to-cart{
 background: var(--primary-color);
 color: rgb(28, 27, 27);
 font-weight: bolder;
 padding: 0.75em 1em;
 margin-top: auto;
 border-radius: 20px;
 width: fit-content;
 cursor: pointer;
}
.product-add-to-cart::after{
    content: "Añadir al carrito";
}  
.product-add-to-cart:hover {
    background: rgb(26, 130, 33);
    color: var(--primary-color);
    padding: 0.75em 1em;
    border-radius: 20px;
    width: fit-content;
}

.product > iframe {
    border-radius: 5%;
    border: var(--primary-color) 2px solid;
}

.products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.products > div.pagination > button{
    background: white;
    border: none;
    color: #70AC45;
    margin-top: 2rem;
    font-size: 1rem;
}

.products > div.pagination > button:focus{
    font-weight: 800;
}

#filtro{
    margin-bottom: 2rem;
}